        {% include 'header.html' %}
        <!-- Page Header-->
        <header class="masthead" style="background-image: url('{{url_for('static', filename='assets/img/about-bg.png') }}')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="site-heading">
                            <h1>Know More About Me!</h1>
                            <span class="subheading">Engineer, Animal Lover & Occasional Singer</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <main class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <h2>The Classic Introduction 😇</h2>
                        <p>I am an Electronics and Communication Engineering graduate, completed my studies in the year 2019. I started my professional career right away as a System Engineer in one of the largest MNC's in India. I have ultimate passion for programming and learning. I learnt Embedded Systems Development when I was in college and started doing many projects with Embedded C programming.</p>
                        <p>Before I learnt Python, I was into Java programming (still love it!). But then, I started learning Python, when I was in final year of my college. I have already learnt about web development generally but recently got into Web development with Flask and have been loving it so far.</p>
                        <h2>Skills ✅</h2>
                        <p>◾ Web development - HTML, CSS, JS, Flask (Python)</p>
                        <p>◾ Java, Python</p>
                        <p>◾ Embedded Systems development - Embedded C</p>
                        <p>◾ Git, AWS</p>
                        <h2>Future Plans 👀</h2>
                        <p>I am planning to explore more about Web development, particularly with Python's Django. I am also planning to learn a front-end framework, React soon.</p>
                        <h2>Fun Facts 🤓</h2>
                        <p>🎸 I love music, no specific genre. But always down to listen some Rock/heavy metal.</p>
                        <p>🎤 I also sing sometimes.</p>
                        <p>📺 I watch anime a lot!</p>
                        <p>☕ I drink atleast 6 cups of Coffee a day.</p>
                        <p>🐶 🐱 I love animals, doesn't matter if it's cats or dogs. I love them all!!<br>P.S. I have two cats at home 😍.</p>
                    </div>
                </div>
            </div>
        </main>
        {% include 'footer.html' %}
    </body>
</html>
